<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <julioreis_correiosfollowup>
            <general>
                <enabled>0</enabled>
                <cron_execute>*/30 * * * *</cron_execute>
            </general>
        </julioreis_correiosfollowup>
    </default>
</config>
